html, body {
    background: #eee;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    position: absolute;
    top: 30px;
    left: 30px;
    background: white;
    color: black;
    text-decoration: none;
    font-size: 40px;
    padding: 5px 22px 6px 18px;
    border-radius: 40px;
    transition: .2s;
}

a:hover {
    transform: scale(95%);
    background: #f9f9f9;
}

body > div {
    display: flex;
    align-items: flex-start;
}

div > div {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 40px;
    margin: 10px 0;
}

span {
    font-size: 25px;
    color: gray;
}

div > img {
    width: 150px;
    transform: rotate(-90deg);
    animation-name: loading;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes loading {
    0% { transform: rotate(-90deg) }
    100% { transform: rotate(270deg) }
}