html, body {
    background: #eee;
    font-family: ui-system, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

form * {
    font-size: 20px;
    padding: 7px 12px;
    margin-bottom: 5px;
}

form h1 {
    font-size: 38px;
    font-weight: 600;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 10px;
}

form input {
    padding: 7px 12px;
    border-radius: 10px;
    border: 1px solid #ddd;
    outline: none;
    transition: .2s;
}

form input:focus {
    box-shadow: 0 0 0 3px lightskyblue;
}

form input:has(+ span) {
    border-color: indianred;
}

form input:has(+ span)::placeholder {
    color: indianred;
}

form span {
    margin-top: -7px;
    padding: 7px 0 7px 5px;
    color: indianred;
    font-size: 14px;
}

form button {
    background: royalblue;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 8px;
    margin: 7px 0;
    transition: .2s;
}

form button:hover {
    transform: scale(97%);
}