html, body {
    background: #eee;
    margin: 70px 5.5% 10px;
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    top: 30px;
    left: 10%;
    right: 10%;
    background: white;
    padding: 0 0 0 25px;
    border-radius: 100px;
    overflow: hidden;
}

header > a {
    display: block;
    font-size: 30px;
    font-weight: 500;
    color: black;
    text-decoration: none;
    transition: .2s;
    width: 300px;
}

header > a > span {
    background: #ffd83b;
    padding: 4px 8px;
    border-radius: 12px;
}

header > a:hover {
    transform: scale(105%) rotate(-1deg);
}

header > .header-links {
    width: calc(100% - 240px);
    display: flex;
    align-items: center;
    justify-content: right;
}

header > .header-links > a {
    color: black;
    text-decoration: none;
    font-size: 25px;
    padding: 18px;
    transition: .2s;
}

header > .header-links > a:last-child {
    padding-right: 30px;
}

header > .header-links > a:hover {
    background: #ffd83b;
}