{% extends "base.html" %}

{% set title = "Olympics Training | Войти в аккаунт" %}
{% set css = ["login.css"] %}

{% block body %}
    <form action="" method="post">
        <h1 style="font-size: 34px">Вход в аккаунт:</h1>
        {% if error is defined %}
            <input type="text" name="login" placeholder="Логин" value="{{ error["login"][0] }}">
            {% if error["login"][1] != "" %}<span>{{ error["login"][1] }}</span>{% endif %}
            <input type="password" name="password" placeholder="Пароль" value="{{ error["password"][0] }}">
            {% if error["password"][1] != "" %}<span>{{ error["password"][1] }}</span>{% endif %}
        {% else %}
        <input type="text" name="login" placeholder="Логин">
        <input type="password" name="password" placeholder="Пароль">
        {% endif %}
        <button type="submit">Войти в аккаунт</button>
    </form>
{% endblock %}